.texto-about-us{
    width: 45%;
    font-size: 17px;    

    #title{
        float: left;
        color: #0e0650;
    }
    hr{
        margin-top: 20px;
        margin-right: 420px;
        margin-left: 20px;
        border-width: 3px;
        border-radius: 7px;
        background-color: orangered;
    }

}
.w-75 {
    width: 75% !important; 
}
.w-80 {
    width: 80% !important; 
}
@keyframes subirDescer {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50px);
    }
}