#container-banner2 {
    background-color: darkblue;
}
.cor-balao-banner2 svg{
    fill: white;
    height: 40px;
    width: 40px;
}
.cor-balao-banner2-1 svg{
    fill: blue;
    height: 40px;
    width: 40px;
}