#footer {
    background-color: #0e1b29;
}

.texto-footer {
    color: white;
}

.redes-sociais {
    display: flex;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    border-radius: 50%;
    width: 40px; 
    height: 40px;
}

.social-icon svg {
    width: 24px; 
    height: 24px;
    fill: white; 
}

.container-fluid {
    padding-left: 40px; 
    padding-right: 40px;
}

.ms-2 { 
    margin-left: 0.5rem;
}

.footer-contact svg {
    width: 24px; 
    height: 24px;
    fill: white; 
}
.contact-services{
    color: white;
    text-decoration: none;
}
.generica-receber-hover{
    color: white;
    text-decoration: none;
}
.generica-receber-hover:hover{
    color: orangered;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    transform: translateX(10px);
    svg{
        fill: orangered;
        transition: fill 0.3s ease, transform 0.3s ease;
        transform: translateX(10px);
    }
}
