.produtos-section {
    background-color: darkblue;
    padding: 50px 0;
    color: white;
}

.produtos-header {
    text-align: center;
    padding-bottom: 20px;
}

.produtos-header-subtitle {
    font-weight: bold;
    font-size: 1.2rem;
}

.produtos-header-divider {
    width: 60px;
    height: 2px;
    background-color: orangered;
    border: none;
    margin: 10px auto;
}

.produtos-header-title {
    font-size: 1.8rem;
}

.produtos-card {
    background-color: darkblue;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    color: white;
    width: 100%;
    max-width: 400px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produtos-card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.produtos-card-description {
    font-size: 1rem;
    margin-bottom: 15px;
}

.produtos-card-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: auto;
}

.produtos-card-image {
    max-width: 60px;
    max-height: 60px;
}

.produtos-card:hover {
    border-color: orangered;
}

.produtos-card:hover .produtos-card-title {
    color: orangered;
}

.produtos-card-arrow {
    color: orangered;
    margin-bottom: 10px;
}

.produtos-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.linha-produtos {
    display: inline-block; 
    width: 50px; 
    height: 2px; 
    background-color: orangered;
    border: none; 
    margin: 0; 
    vertical-align: middle; 
    margin-top: 20px;
}