@import url(/styles/banner.css);
@import url(/styles/btn.css);
@import url(/styles/servicos.css);
@import url(/styles/about.css);
@import url(/styles/produtos.css);
.subtitulo--imagem{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: 120px;
}
.img--logo--header{
    height: 40px;

}
#titulo-logo{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
