@import url(/styles/header.css);
@import url(/styles/banner.css);
@import url(/styles/btn.css);
@import url(/styles/servicos.css);
@import url(/styles/about.css);
@import url(/styles/produtos.css);
@import url(/styles/team.css);
@import url(/styles/carrossel.css);
@import url(/styles/features-case.css);
@import url(/styles/ratings.css);
@import url(/styles/feed.css);
@import url(/styles/banner2.css);
@import url(/styles/footer.css);

.subtitulo--imagem{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: 120px;
}
.img--logo--header{
    height: 40px;

}
#titulo-logo{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#sombreamento-div{
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    padding-right: 10px;
    padding-left: 10px;
    background-color: wheat;
    border-radius: 10px;
    padding: 35px;
}
svg{
    fill: white;
}